Repository HYF-Class23/group2-all-about-trees, pull requests merged in 2024-02, with the labels that each got.

#2 project defination
  README.md
Labels: Project definition

#4 add constraints
  .cspell.json
  README.md
  package-lock.json
  planning/constraints.md
Labels: Constraint

#7 add communication
  planning/communication.md
Labels: Communication

#15 add develpment=strategy
  planning/development-strategy.md
Labels: development-strategy

#20 Add navigation bar links
  index.html
  styles/index.css
Labels: HTML, CSS

#22 extra link css update
  styles/index.css
Labels: CSS

#27 Working socialmedia link
  index.html
  styles/index.css
Labels: HTML, CSS

#26 add title
  index.html
  styles/index.css
Labels: HTML, CSS

#32 More links
  index.html
  styles/index.css
Labels: HTML, CSS
